################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Apps/src/Services/Catalogo/bin/Debug/net6.0
/Apps/.vs/Apps
/Apps/src/Services/Catalogo/obj
